# This man, right here saved lives. THANK YOU!
# https://gist.github.com/thebeardphantom/982bab3b026571ab7970

# Ignore everything
/Ninja/*
/Ninja/*/

# Inverse ignore some stuff
!/Ninja/Assets/
!/Ninja/ProjectSettings/
!.gitignore

# OS Stuff
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
Desktop.ini
